#header {
  height: 200px;
}

#content {
  height: calc(100vh - 200px);
}

.companies-category-control {
  margin: 20px auto;
}

.map-container {
  margin-right: -15px;
}

#map {
  height: calc(100vh - 200px);
}
#companies-container {
  height: calc(100vh - 200px - 64px);
  overflow-y: scroll;
  padding-right: 12px;
}
.flex-row {
  display: flex;
  @media(max-width: 768px) {
    flex-wrap: wrap;
    .col {
      width: 100%;
    }
  }
  .col {
    width: 50%;
  }
}
