<div class="company-card">
  <div class="company-card-logo" style="background-image: url('<%= company[:logo] %>')">
  </div>
  <div class="company-card-content">
    <h3><%= company[:name] %></h3>
    <p><i class="fa fa-user"></i> <%= company[:employees] %></p>
  </div>
</div>
