<div class="container text-center">
  <h1 class="main_title">RUBY COMPANIES</h1>
  <%= form_tag companies_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <% @companies.each do |company| %>
        <%= render 'companies/company_card', company: company %>
      <% end %>
    </div>
    <div class="hidden-xs col-xs-6">
      <div class="map">

      </div>
    </div>
  </div>
</div>
